# ignore dot files/directories
src/opencv/.*

src/opencv/*.autosave
src/opencv/*.pyc
src/opencv/*.user
src/opencv/*~
src/opencv/Thumbs.db
src/opencv/tags
src/opencv/tegra/
src/opencv/bin/
src/opencv/*.sdf
src/opencv/*.opensdf
src/opencv/*.obj
src/opencv/*.stamp
src/opencv/*.depend
src/opencv/*.rule
src/opencv/*.tmp
src/opencv/*/debug
src/opencv/*.suo
src/opencv/*.log
src/opencv/*.tlog
src/opencv/build
src/opencv/node_modules
src/opencv/CMakeSettings.json

build_isolated/
devel_isolated/
.vscode/
